/* Algemene stijlen voor alle apparaten */
body,
html {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    background-color: rgb(156, 156, 231);
    scroll-behavior: smooth;
}

span{
    color: blueviolet;
    font-size: 1.3rem;
}
/* Responsieve layout voor mobiele apparaten */
@media (max-width: 768px) {

    nav {
        position: absolute;
        top: calc(50% - 33vh); /* 50% van de hoogte van het scherm min de helft van de hoogte van de login-body */
        left: 50%;
        transform: translateX(-50%); /* Horizontaal centreren */
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    h1{
        width: 300ui px;
    }

    .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 80px;
        float: left;
    }

    h2 {
        margin: 0;
        font-size: 15px;
    }

    .login-body {
        position: absolute;
        bottom: 0;
        margin-top: 20%;
        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-left: 10%;
        width: 100%;
        height: 450px;
        padding-right: 1px;
        transform: translateX(-10%);

    }

    .login-header {
        z-index: 999;
        text-align: center;
        color: white;
        justify-content: center;
    }

    .login-header h1 {
        margin: 0;
        margin-left: 10px;
        font-size: 40px;
        /* Kleiner lettertype voor kleinere schermen */
        font-family: Arial, Helvetica, sans-serif;
    }

    .login-body>.information {
        position: relative;
        display: flex;
        top: 5%;
        justify-content: center;
    }

    .login-body>.information>h2 {
        font-size: 0.9rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .login-input {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-input>* {
        transform: translateX(1.5%);
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    input {
        height: 40px;
        border: none;
        border-radius: none !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid blue;
        width: 90%;
        border-radius: 0px;
        font-size: 16px;
        text-indent: 12px;
    }


    input:focus,
    input:active {
        border: none;
        color: none;
    }

    .login-button {
        width: 80%;
        /* Knop past beter op mobiel */
        font-size: 14px;
        border-radius: 0;
    }

    .checkbox {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;
        border-radius: 0px;
        
    }

    .checkbox>*:first-child {
        width: fit-content;
        width: 20px;
        border-radius: 0px;
    }

    .checkbox>*:last-child {
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(58, 56, 56, 0.808);
    }

    .register-button {
        display: flex;
        justify-content: center;
    }

    .register-button>* {
        width: 100%;
        height: 50px;
        border-radius: 100px;
        border: none;
        background-color: rgba(250, 186, 67, 0.799);
    }

}

/* Desktop-specific styles */
@media (min-width: 1024px) {
    nav {
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 2%;
    }

    .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 70px;
        float: left;
    }

    h2 {
        margin: 0;
        font-size: 15px;
    }

    .login-body {
        margin-top: 2%;
        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-left: 10%;
        width: 100%;
        height: 80vh;
        padding-right: 1px;
        transform: translateX(-10%);
    }

    .login-header {
        z-index: 999;
        text-align: center;
        color: white;
        justify-content: center;
    }

    .login-header h1 {
        margin: 0;
        margin-left: 10px;
        font-size: 30px;
        /* Kleiner lettertype voor kleinere schermen */
        font-family: Arial, Helvetica, sans-serif;
    }

    .login-body>.information {
        position: relative;
        display: flex;
        top: 7%;
        justify-content: center;
    }

    .login-body>.information>h2 {
        font-size: 0.9rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .login-input {
        padding-top: 100px;
    }

    .login-input>* {
        transform: translateX(1.5%);
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    input {
        height: 40px;
        border: none;
        border-radius: none;
        border-bottom: 1px solid blue;
        text-indent: 3%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    

    input::placeholder {
        font-size: 0.85rem;
        position: relative;
        
    }

    input {
        width: 90%;
        /* Breder op mobiele apparaten */
        font-size: 12px;
    }

    .login-button {
        width: 80%;
        /* Knop past beter op mobiel */
        font-size: 14px;
    }

    .checkbox {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;
        left: 3.5%;
    }

    .checkbox>*:first-child {
        width: fit-content;
        width: 20px;
    }

    .checkbox>*:last-child {
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(58, 56, 56, 0.808);
    }

    .register-button {
        display: flex;
        justify-content: center;
    }

    .register-button>* {
        width: 95%;
        height: 50px;
        border-radius: 100px;
        border: none;
        background-color: rgba(250, 186, 67, 0.799);
    }
}